<div class="row">
  <div class="col-lg-12">
  	<h2><%= title %></h2>

		<%= form_for media, method: verb do |f| %> 
			<div class="form group"> 
				<% details.each do |d| %> 
					<%= f.label d %> 
					<%= f.text_field d, class: "form-control", required: true %> 
				<% end %> 
			</div>
			<%= f.submit "Save", class: "btn btn-default" %>
		<% end %>

	</div>
</div>  